    <IfModule mod_expires.so>  
    ExpiresActive On  
    ExpiresDefault "access plus 12 month"  
    ExpiresByType text/html "access plus 12 months"  
    ExpiresByType text/css "access plus 12 months"  
    ExpiresByType image/gif "access plus 12 months"  
    ExpiresByType image/jpeg "access plus 12 months"  
    ExpiresByType image/jpg "access plus 12 months"  
    ExpiresByType image/png "access plus 12 months"  
    EXpiresByType application/x-shockwave-flash "access plus 12 months"  
    EXpiresByType application/x-javascript      "access plus 12 months"  
    ExpiresByType video/x-flv "access plus 12 months"  
    </IfModule>  
      
    <IfModule mod_deflate.so>  
    SetOutputFilter DEFLATE  
    AddOutputFilterByType DEFLATE text/html text/css image/gif image/jpeg image/png application/x-javascript  
    </IfModule>  