html {
	font-size: 10px;
}
body {
	font-size: 14px;
	background-color:#f5f5f5;
}
label {
	font-weight: 400;
}
.php-topbar-inverse {
	background: #474D57;
}
.php-footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
}
.php-footer-fixed {
	  position: fixed;
	  left: 0px;
	  bottom: 0px;
	  width: 100%;

}
#php-img-flag {
	 width: 32px;
	 height: 32px;
}
.php-bg-white {
	background-color: #fff;
}
.php-box-shadow {
	box-shadow: 2px 2px 2px #ccc,
	            -2px -2px 2px #ccc,
	            2px -2px 2px #ccc,
	            -2px 2px 2px #ccc;
}
.php-text-white {
	color: #fff;
}
.php-text-gray {
	color: #ccc;
}
.php-text-dark-gray {
	color: #7A7676;
}
.php-input {
	border-right: none !important;
	border-left:  none !important;
	border-top: none !important;
	padding-left: 25px !important;
	font-size: 1.3rem !important;
}
.php-input:focus {
	box-shadow: 2px 2px 1px #ccc !important; 
	border-color: #666 !important;
}
.php-input-icon {
	margin-left: 10px;
	color: #888 !important;
}
.php-button {
	font-size: 1.4rem;
}
.php-li {
	border-top-style: none  !important;
}
.php-text-indent {
	text-indent: 2em;
}
.php-textarea {
	font-size: 1.4rem !important;
    line-height: 1.4 !important;
}


@media screen and (max-width: 640px) {}
@media screen and (min-width: 641px) and (max-width: 1024px) {}
@media screen and (min-width: 1025px)  {}